.maps {
    width: 100% !important;
    height: 100% !important;
}

.infobox {
    padding: 1.5rem;
    background-color: lightcoral;
    opacity: 0.75;
    width: 15rem;
    position: absolute;
    top: -24.0625rem;
}
.info-message {
    font-size: 1rem;
    color: white;
}