.maps {
    width: 100% !important;
    height: 100% !important;
}

.infobox {
    padding: 1.5rem;
    background-color: lightcoral;
    opacity: 0.75;
    width: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    z-index: 99;
}
.info-message {
    font-size: 1rem;
    color: white;
}